  <footer class="footer py-4 fixed-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mb-4 mx-auto text-center">
          <a href="https://bit.ly/3fKQZaL" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            Creative-Tim
          </a>
          <a href="https://appseed.us" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            AppSeed
          </a>
          <a href="https://github.com/app-generator/django-soft-ui-dashboard" target="_blank" 
             class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            Source Code
          </a>
        </div>
      </div>
    </div>
  </footer>
