      <footer class="footer pt-3">
        <div class="container-fluid">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
              <div class="copyright text-center text-sm text-muted text-lg-left">
                &copy; 
                <a href="https://bit.ly/3fKQZaL" class="font-weight-bold" target="_blank">Creative Tim</a> 
                - coded by <a target="_blank" href="https://appseed.us">AppSeed</a>.
              </div>
            </div>
            <div class="col-lg-6">
              <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                <li class="nav-item">
                  <a href="https://github.com/app-generator/django-soft-ui-dashboard" 
                     class="nav-link text-muted" target="_blank">Source Code</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>

