  
  <footer class="footer py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mb-4 mx-auto text-center">
          <a href="https://appseed.us/product/django-soft-ui-dashboard" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            Download
          </a>
          <a href="https://appseed.us/support" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            Support
          </a>
          <a href="https://appseed.us/admin-dashboards/django" target="_blank" 
             class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            More Starters
          </a>
        </div>
        <div class="col-lg-8 mx-auto text-center mb-4 mt-2">
          <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
            <span class="text-lg fab fa-dribbble"></span>
          </a>
          <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
            <span class="text-lg fab fa-twitter"></span>
          </a>
          <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
            <span class="text-lg fab fa-instagram"></span>
          </a>
          <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
            <span class="text-lg fab fa-pinterest"></span>
          </a>
          <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
            <span class="text-lg fab fa-github"></span>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-8 mx-auto text-center mt-1">
          <p class="mb-0 text-secondary">
            &copy; <a href="https://bit.ly/3fKQZaL" target="_blank">Creative-Tim</a> - coded by AppSeed.
          </p>
        </div>
      </div>
    </div>
  </footer>
  