<!-- Navbar -->
<nav class="navbar navbar-expand-lg blur blur-rounded top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
    <div class="container-fluid pe-0">
      <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 " href="/">
        Soft UI Dashboard
      </a>
      <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon mt-2">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav mx-auto ms-xl-auto">

          <li class="nav-item">
            <a class="nav-link me-2" href="{% url 'register' %}">
              <i class="fas fa-user-circle opacity-6 me-1"></i>
              Sign Up
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link me-2" href="{% url 'login' %}">
              <i class="fas fa-key opacity-6 me-1"></i>
              Sign In
            </a>
          </li>

          <li class="nav-item">
            <label for="theme-switch" class="nav-link me-2">
              <i class="fa fa-sun cursor-pointer opacity-6" id="theme-indicator"></i>
              Theme
            </label>
            <input type="checkbox" class="d-none" id="theme-switch"/>
          </li>

        </ul>
        <li class="nav-item d-flex align-items-center">
          <a class="btn btn-round btn-sm mb-0 btn-outline-primary me-2" 
             target="_blank" 
             href="https://appseed.us/product/soft-ui-dashboard/django/">Download</a>
        </li>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
