  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg blur blur-rounded top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
    <div class="container-fluid pe-0">
      <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 " href="/">
        Soft UI Dashboard
      </a>
      <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon mt-2">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
          </span>
      </button>
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav mx-auto ms-xl-auto">
          
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center me-2 active" aria-current="page" href="/">
              <i class="fa fa-chart-pie opacity-6 me-1"></i>
              Dashboard
            </a>
          </li>

          <li class="nav-item">
            <label for="theme-switch" class="nav-link d-flex align-items-center me-2">
              <i class="fa fa-sun cursor-pointer opacity-6 px-1" id="theme-indicator"></i>
              Theme
            </label>
            <input type="checkbox" class="d-none" id="theme-switch"/>
          </li>
          
        </ul>

        <ul class="navbar-nav d-lg-block d-none">
          <li class="nav-item">
            <a target="_blank"
               href="https://appseed.us/product/soft-ui-dashboard/django/" 
               class="btn btn-sm btn-round mb-0 me-1 bg-gradient-dark">Download</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->